<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Sem Barreiras</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../css/index.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" type="text/javascript"></script>
    <script src="../scripts/salvar-vaga.js"></script>
    <script src="../scripts/logout.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="../img/image 1.png" alt="" width="auto" height="auto">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 me-auto ms-auto">
                        <li class="nav-item mx-4">
                            <a class="nav-link" href="/listar-vaga">VAGAS</a>
                        </li>
                        <li class="nav-item mx-4" id="curso">
                            <a class="nav-link" href="/listar-curso">CURSOS</a>
                        </li>
                        <li class="nav-item mx-4" id="empresaLogin">
                            <a class="nav-link" href="/login">PERFIL EMPRESA</a>
                        </li>
                        <li class="nav-item mx-4" id="empresaEdit">
                            <a class="nav-link" href="#" onclick="editEmpresa()">PERFIL EMPRESA</a>
                        </li>
                        <li class="nav-item mx-4" id="recrutar">
                            <a class="nav-link active" href="/cadastro-vaga">RECRUTAR</a>
                        </li>
                        <li class="nav-item mx-4" id="cadcurso">
                            <a class="nav-link" href="/cadastro-curso">CADASTRAR CURSO</a>
                        </li>
                        <li class="nav-item mx-4" id="sair">
                            <a class="nav-link" href="#" onclick="logout()">SAIR</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="margin-top: -20px;">
        <div class="row justify-content-center">
            <div class="col-8 col-sm-6">
                <div class="container corpoPagina">
                    <div class="form-vaga">
                        <input id="id" type="hidden">
                        <h4>Publicar vaga:</h4>
                        <div class="row">
                            <div class="col-12">
                                <label for="funcao" class="tituloVaga">Resumo Vaga*:</label>
                                <br>
                                <input class="form-control" type="text" id="resumo-vaga" name="resumo-vaga">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12 col-sm-6">
                                <label for="funcao" class="tituloVaga">Função*:</label>
                                <br>
                                <input class="form-control" type="text" id="funcao" name="funcao">
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="area" class="tituloVaga">Área*:</label>
                                <br>
                                <select class="input-model form-control" name="brands" id="area">
                                    <option value="-">---</option>

                                </select>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class=" col-12 col-sm-6">
                                <label for="funcao" class="tituloVaga">Nível*:</label>
                                <br>
                                <input class="form-control" type="text" id="nivel" name="area">
                            </div>
                            <div class=" col-12 col-sm-6">
                                <label for="funcao" class="tituloVaga">Escolaridade*:</label>
                                <br>
                                <select class="input-model form-control" name="brands" id="esc">
                                    <option value="-">---</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12">
                                <label for="funcao" class="tituloVaga">Deficiência*:</label>
                                <ul id="defi" class="list-group"></ul>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12">
                                <div class="requisitos">
                                    <label for="funcao" class="tituloVaga">Descrição de vaga*:</label>
                                    <br>
                                    <textarea class="form-control" id="desc-vaga" name="desc-vaga"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12 col-sm-6">
                                <p class="tituloVaga">Requisitos necessários*:</p>
                                <input class="form-control" type="text" id="requi-nece" name="requi-nece">
                            </div>
                            <div class="col-12 col-sm-6">
                                <p class="tituloVaga">Requisitos desejados*:</p>
                                <input class="form-control" type="text" id="requi-dese" name="requi-dese">
                            </div>

                        </div>

                        <div class="row mt-3">
                            <label class="tituloVaga">Benefícios*: </label>
                            <div class="col-12 col-sm-4">
                                <input class="form-check-input" type="checkbox" id="option1" name="option1"
                                    value="Vale Transporte">
                                <label for="option1"> Vale Transporte</label><br>
                                <input class="form-check-input" type="checkbox" id="option2" name="option2"
                                    value="Plano de Saúde">
                                <label for="option2"> Plano de Saúde</label><br>

                            </div>
                            <div class="col-12 col-sm-4">
                                <input class="form-check-input" type="checkbox" id="option3" name="option3"
                                    value="Vale Refeição">
                                <label for="vehicle1">Vale Refeição</label><br>
                                <input class="form-check-input" type="checkbox" id="option4" name="option4"
                                    value="Plano Odontológico">
                                <label for="option4">Plano Odontológico</label><br>

                            </div>
                            <div class="col-12 col-sm-4">
                                <input class="form-check-input" type="checkbox" id="option5" name="option5"
                                    value="Vale Alimentação">
                                <label for="option5">Vale Alimentação</label><br>
                                <input class="form-check-input" type="checkbox" id="option6" name="option6"
                                    value="Seguro de Vida">
                                <label for="option6">Seguro de Vida</label><br>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="description">
                                <div class="col-12"></div>
                                <label for="funcao" class="tituloVaga">Outros Benefícios:</label>
                                <input class="form-control" type="text" id="beneficios" name="beneficios">
                            </div>
                        </div>
                        
                        <div class="row mt-3">
                            <div class="col-12 col-sm-6">
                                <label for="jornada" class="tituloVaga">Jornada de Trabalho*:</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Horas</span>
                                    <input class="form-control" type="number" id="jornada" name="jornada">
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label for="durac-vaga" class="tituloVaga">Duração da Vaga*:</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">Dias</span>
                                    <input class="form-control" type="number" id="durac-vaga" name="durac-vaga">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-12">
                                <label for="remunera" class="tituloVaga">Remuneração:</label>
                                <div class="input-group mb-3">
                                    <span class="input-group-text">R$</span>
                                    <input class="form-control" type="number" id="remunera" name="remunera">
                                </div>
                            </div>
                        </div>

                        <div class="row button-row my-3">
                            <div class="col-12 col-sm-6">
                                <button id="deletar" type="button" onclick="deletarVaga()" class="btn btn-danger btn-delete">DELETAR
                                </button>
                            </div>
                            <div class="col-12 col-sm-6">
                                <button type="button" class="btn btn-confirm" onclick="salvarVaga()">DIVULGAR</button>
                            </div>
                        </div>
                    </div>
                    <button hidden id="modal" data-bs-toggle="modal" data-bs-target="#successModal"></button>
                    <button hidden id="modal2" data-bs-toggle="modal" data-bs-target="#modalFail"></button>
                </div>
                <div class="background-loading" id="background-loading">
                    <idv id="loading" class="lds-ring" style="position: absolute; left: 50%; top: 50%;"><div></div><div></div><div></div><div></div></div>
                </div>
            </div>
        </div>
    </div>
    <div vw class="enabled">
        <div vw-access-button class="active"></div>
        <div vw-plugin-wrapper>
            <div class="vw-plugin-top-wrapper"></div>
        </div>
    </div>
    <div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modal-success">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="alterarPagina()"></button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title" id="filtroModal" style="color: black; text-align: center; font-weight: bold; line-height: 1.2em;">Operação realizada com sucesso!</h5>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <img src="../img/mdi_check_circle.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="modalFail" tabindex="-1" aria-labelledby="modalFail" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content modal-success">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h5 class="modal-title" id="filtroModal" style="color: black; text-align: center; font-weight: bold; line-height: 1.2em;">Erro na conclusão da operação!</h5>
                    <div class="row justify-content-center">
                        <div class="col-6">
                            <img src="../img/error.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="container-fluid footerPage p-3">
            <div class="row justify-content-md-center align-items-center no-gutters">
                <div class="col-6">
                    <div class="row align-items-center">
                        <div class="col-3 primeiraColunaFooter">
                            <p>+55 21 98321-6549 <br>
                                sembarreiras@gmail.com</p>
                        </div>
                        <div class="col-2">
                            <img src="../img/image 2.png" class="imgFooter">
                        </div>
                        <div class="col-3 terceiraColunaFooter">
                            <p>Rua Antonieta Maia, n29<br>
                                Rio de Janeiro, RJ<br>
                                CEP: 05207-150</p>
                        </div>
                        <div class="col-4 quartaColunaFooter">
                            <i class="fab fa-facebook-square"></i>
                            <i class="fab fa-instagram"></i>
                            <i class="fab fa-twitter-square"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
    <script src="https://vlibras.gov.br/app/vlibras-plugin.js"></script>
    <script>
        new window.VLibras.Widget('https://vlibras.gov.br/app');
    </script>
</body>

</html>