.navbar{
    border-bottom: 5px solid;
    border-image: linear-gradient(to right, #C04848, #480048);
    border-image-slice: 1;
    box-shadow: 2px 4px 12px rgba(0,0,0,0.2);
    margin: auto;
}
.corpoPagina{
    box-shadow: 2px 4px 12px rgba(0,0,0,0.2);
    background-color: white;
    min-height: 80vh;
}
body{
    background-color: #F2F2F2 !important;
}  

/* Footer */

.footerPage{
    background-color: #480048;
    color: white;
}
.imgFooter{
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.primeiraColunaFooter > p{
    text-align: right;
    font-size: 0.7em;
    margin-top: 10px;
}
.terceiraColunaFooter > p{
    text-align: left;
    font-size: 0.7em;
    margin-top: 10px;
}
.terceiraColunaFooter{
    border-right: 2px solid white;
}
.quartaColunaFooter > i {
    margin: 10px;
    font-size: 30px;
}